
/*mismo estilo a toda la pagina */

*{
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: 3.5vw;
}

html, body {
    height: 100%;
}

/*Encontramos los diferentes contenedores son sus respectivos estilos */
.contenedor_1{
    width: 20%;
    position: absolute;
    background: #244F75;
    cursor: pointer;
    overflow: hidden;
    min-height: 100vh;
    text-align: center;
    left: 0;
    justify-content: center;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    border-right: 4px solid white;
    animation-name: mov1;
    align-items: center;
    display: flex;
}


.contenedor_2{
    width: 20%;
    position: absolute;
    background: #60BFBF;
    cursor: pointer;
    overflow: hidden;
    min-height: 100vh;
    text-align: center;
    left: 20%;
    justify-content: center;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    border-right: 4px solid white;
    animation-name: mov2;
    align-items: center;
    display: flex;
}


.contenedor_3{
    width: 20%;
    position: absolute;
    background: #8C4B7E;
    cursor: pointer;
    overflow: hidden;
    min-height: 100vh;
    text-align: center;
    left: 40%;
    justify-content: center;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    border-right: 4px solid white;
    animation-name: mov3;
    align-items: center;
    display: flex;
}


.contenedor_4{
    width: 20%;
    position: absolute;
    background: #F8BB44;
    cursor: pointer;
    overflow: hidden;
    min-height: 100vh;
    text-align: center;
    left: 60%;
    justify-content: center;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    border-right: 4px solid white;
    animation-name: mov4;
    align-items: center;
    display: flex;
}


.contenedor_5{
    width: 20%;
    position: absolute;
    background: #F24B4B;
    cursor: pointer;
    overflow: hidden;
    min-height: 100vh;
    text-align: center;
    left: 80%;
    justify-content: center;
    animation-duration: 0.9s;
    animation-timing-function: ease-out;
    border-right: 4px solid white;
    animation-name: mov5;
    animation-timing-function: ease-out;
    align-items: center;
    display: flex;

}

/*lineas claritas encima de todos los contenedores*/
.contenedor_1:before , .contenedor_2:before, .contenedor_3:before, .contenedor_5:before , .contenedor_4:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.05;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: skew(30deg) scaleY(1) translate(0, 0);
          transform: skew(30deg) scaleY(1) translate(0, 0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}


/*movimiento de la entrada, todos los contenedores se deslizan*/

@keyframes mov1 {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    }
    100% {
         -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    }
}

@keyframes mov2 {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    }
    100% {
         -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    }
}

@keyframes mov3 {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    }
    100% {
         -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    }
}

@keyframes mov4 {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    }
    100% {
         -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    }
}

@keyframes mov5 {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    }
    100% {
         -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    }
}

/*movimiento al pasar el cursor por encima*/
.contenedor_1:hover:before , .contenedor_2:hover:before, .contenedor_3:hover:before, .contenedor_5:hover:before , .contenedor_4:hover:before  {
    cursor: pointer;
    width: 200%;
    height: 200%;
    
}